* {
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100%;
  padding: 1rem;
  background-color: #f6f5f1;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(45deg, #ADDBFF 0%, #9FD5FF 100%);
}

@media screen and (min-width: 55em) {
  body {
    height: 100vh;
    margin: 0;
  }
}

p,
span,
ul,
li {
  color: #2d4338;
  font-weight: 100;
  font-size: 1rem;
}

.calendar-contain {
  position: relative;
  left: 30;
  right: 0;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  max-width: 1420px;
  min-width: 450px;
  margin: 1rem auto;
  background-color: #f5f7f7;
  box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
  color: #040605;
  margin-left: 10rem;

}

@media screen and (min-width: 100em) {
  .calendar-contain {
    margin: auto;
    width: auto;

  }
}

.title-bar {
  position: relative;
  width: 100%;
  display: table;
  text-align: right;
  background: #f5f7f6;
  padding: 0.5rem;
  margin-bottom: 0;
}

.title-bar:after {
  display: table;
  clear: both;
}

.title-bar-options {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 53px;
  height: 53px;
  font-size: 0;
  text-indent: -9999px;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
}

.title-bar-options:focus {
  outline: none;
}

/* creates the 3 option lines on the left top */
.options-lines {
  display: block;
  position: absolute;
  width: 26px;
  top: 21px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  background: #040605;
}

.options-lines:before,
.options-lines:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #040605;
  content: "";
}

.options-lines:before {
  top: -7px;
}

.options-lines:after {
  bottom: -7px;
}

.title-bar-year {
  display: block;
  position: relative;
  float: left;
  font-size: 1rem;
  line-height: 42px;
  width: 61%;
  padding: 0 0.5rem;
  text-align: left;
}

@media screen and (min-width: 50em) {
  .title-bar-year {
    width: 27%;
  }
}

.title-bar-month {
  position: relative;
  float: left;
  font-size: 1rem;
  line-height: 40px;
  width: 34%;
  padding: 0 0.5rem;
  text-align: left;
}

@media screen and (min-width: 55em) {
  .title-bar-month {
    width: 12%;
  }
}

.title-bar-month:after {
  content: "";
  display: inline;
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  top: 8px;
  margin: auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(135deg);
}

.title-bar-minimize,
.title-bar-maximize,
.title-bar-close {
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
}

.title-bar-minimize:before,
.title-bar-minimize:after,
.title-bar-maximize:before,
.title-bar-maximize:after,
.title-bar-close:before,
.title-bar-close:after {
  top: 40%;
  right: 40%;
  bottom: 40%;
  left: 40%;
  content: " ";
  position: absolute;
  border-color: #8e8e8e;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.title-bar .title-bar-controls {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  width: auto;
}

.title-bar .title-bar-controls:before,
.title-bar .title-bar-controls:after {
  content: none;
}

.title-bar .title-bar-minimize:before {
  border-bottom-width: 2px;
}

.title-bar .title-bar-maximize:before {
  border-width: 1px 1px 2px 1px;
}

.title-bar .title-bar-close:before,
.title-bar .title-bar-close:after {
  bottom: 50%;
  top: 49.9%;
}

.title-bar .title-bar-close:before {
  transform: rotate(45deg);
}

.title-bar .title-bar-close:after {
  transform: rotate(-45deg);
}

.calendar-sidebar {
  width: 100%;
  margin: 0 auto;
  float: none;
  background: linear-gradient(120deg, #eff3f3, #e1e7e8);
  padding-bottom: 0.7rem;
}

@media screen and (min-width: 55em) {
  .calendar-sidebar {
    position: absolute;
    height: 100%;
    width: 30%;
    float: left;
    margin-bottom: 0;
  }
}

.calendar-sidebar .content {
  padding: 2rem 1.5rem 2rem 4rem;
  color: #040605;
}

.sidebar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.9rem;
  padding: 0.7rem 1rem;
  background-color: #f5f7f6;
}

.sidebar-nav-item {
  display: inline-block;
  width: 30px;
  margin-right: 31px;
  padding: 0;
  opacity: 1;
}

/* cursor changes to grab when hovering over the aside box options */
.sidebar-nav-item:hover {
  cursor: grab;
}


.sidebar-list {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-list-item {
  margin: 0;
  color: #2d4338;
  font-weight: 130;
  font-size: 1rem;
  padding-left: 20px;
  height: 45px;
}

.list-item-time {
  display: inline-block;
  width: 60px;
}

@media screen and (min-width: 55em) {
  .list-item-time {
    margin-right: 2rem;
  }
}

.sidebar-list-item-complete {
  color: rgba(4, 6, 5, 0.3);
}

.sidebar-list-item-complete .list-item-time {
  color: rgba(4, 6, 5, 0.3);
}

.sidebar-heading {
  font-size: 2.2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.sidebar-heading span {
  font-weight: 300;
}

.calendar-heading-highlight {
  color: #2d444a;
  font-weight: 900;
}

.calendar-days {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  width: 100%;
  float: none;
  min-height: 830px;
  height: 100%;
  font-size: 16px;
  padding: 7px;
  background: #f5f7f6;
}

@media screen and (min-width: 55em) {
  .calendar-day {
    width: 70%;
    float: right;
  }
}

.calendar-top-bar {
  display: flex;
  flex: 40px 0 0;
  width: 1015px;
  float: right;
}

.top-bar-days {
  width: 100%;
  padding: 0 5px;
  color: #2d4338;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}

.calendar-week {
  display: flex;
  flex: 1 1 0;
}

#container {
  width: 1015px;
  float: right;
}

#calendar {
  width: 1015px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}

.calendar-day {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 140px;
  height: 165px;
  float: right;
  padding: 5px;
  border: rgba(4, 6, 5, 0.3) solid 1px;
  /*added so i can see the boxes*/
}

.calendar-date {
  color: #040605;
  font-size: 25px;
  font-weight: 600;
  line-height: 0.7;
}

.calendar-week .inactive .calendar-date,
.calendar-week .inactive .task-count {
  color: #c6c6c6;
}

/* this style class is only to be applied to the current day */
.today {
  color: #9FD5FF;
}


/* styling of the nfl links */
a {
  text-decoration: none;
}

nav {
  font-family: monospace;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}


.cl
li {
  color: #fff;
  background: rgb(231, 228, 225);
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;

}

li a {
  color: #fff;
}

.Sportsdropdown:hover,
.Sportsdropdown:focus-within {
  background: red;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {

  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}


ul li:focus-within>ul,
ul li ul:hover,
.dropdown li .dropdown:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
}

.dropdown {
  max-height: 400px;
  overflow: scroll;
}